.section__popup {
    display: flex;
    height: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    z-index: 2;
    
    opacity: 0;
    transition-property: opacity, height;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 1s;
}
