.section__popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -5;

    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out .3s, visibility .5s ease-out .3s, z-index .5s ease-out .4s;
}
