.root {
    position: relative;
    background-color: #000;
    padding: 45px 0 60px;
    margin: 0 auto;
}

@media screen and (max-width: 920px) {
    .root {
        margin: 28px auto 36px;
    }
}
